extends ../layout

block javascript

block content
    div(class='row')
        div(class='col-lg-12')
            h1(class='page-header')= title
    div
        div
            div(class='row')
                div(class='col-lg-12')
                    span List inspection.