extends ../layout

block javascript
    script(src='/javascripts/Controllers/boundaryListCtrl.js')

block content
    div(class='row')
        div(class='col-lg-12')
            h1(class='page-header')= title
                a(class='btn btn-success pull-right', href='/boundary/create')
                    span Create
                    i(class='fa fa-plus', style='padding-left:5px;')
    div(ng-controller='BoundaryListController as ctrl')
        div(class='row')
        div(class='col-lg-12')
            div(class='btn btn-default pull-right', ng-click='ctrl.ShowDisabled()', ng-show='!ctrl.showingDisabled') Show Disabled
            div(class='btn btn-default pull-right', ng-click='ctrl.HideDisabled()', ng-show='ctrl.showingDisabled') Hide Disabled
            table(class='table', ng-show='ctrl.boundaries.length > 0 && !ctrl.isLoading')
              thead
                tr
                  th Image
                  th Name
                  th Created At
                  th Active
              tbody
                tr(ng-repeat='boundary in ctrl.boundaries')
                  td
                    img(ng-src='{{boundary.image}}', style='width:100%; max-width:200px;')
                  td {{boundary.name}}
                  td {{boundary.createdAt}}
                  td
                    input(class='form-control', type='checkbox', ng-model='boundary.active', ng-click='ctrl.ToggleActive(boundary)')
            div(ng-show='ctrl.boundaries.length == 0')
              br
              br
              br
              p(class='text-center') There are no active boundaries.
            div(ng-show='ctrl.isLoading')
              br
              br
              br
              p(class='text-center') Loading boundaries...



